In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
pd.date_range(start="20130101", periods=6, freq="5D")

DatetimeIndex(['2013-01-01', '2013-01-06', '2013-01-11', '2013-01-16',
               '2013-01-21', '2013-01-26'],
              dtype='datetime64[ns]', freq='5D')

In [4]:
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.510222  0.590798 -0.131060 -0.087189
2013-01-02 -0.352107  2.133730  1.080091  0.303251
2013-01-03 -0.412825  0.004795  0.619772  0.231247
2013-01-04 -3.037094  0.795283  0.511807 -0.047418
2013-01-05  0.443234  0.999914  1.182237  2.576154
2013-01-06 -1.093313 -0.768878  2.162885 -0.381602

In [6]:
new_var = pd.Timestamp("20130102")
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": new_var,
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
# taking subset
df2.iloc[0:3, 1:2]

           B
0 2013-01-02
1 2013-01-02
2 2013-01-02

In [7]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [9]:
# see df's numpy representaion
# without rows and cols
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [11]:
df2.sort_index(axis=1)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [13]:
# sort values by one col
df2.sort_values(by="E")

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
2  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [20]:
df2[0:3]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

In [28]:
df.loc[dates[0]]    #selecting by index

A    0.510222
B    0.590798
C   -0.131060
D   -0.087189
Name: 2013-01-01 00:00:00, dtype: float64

In [29]:
df2.loc[:, ["A", "E"]]

     A      E
0  1.0   test
1  1.0  train
2  1.0   test
3  1.0  train

In [31]:
df2.loc[1, "E"]

'train'

In [32]:
df2.at[1, "E"]

'train'